body {
    background-color: rgba(212, 0, 255, 0.3);
    margin: 10px 10px;
}
.orderForm {
    background-color: #888;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 4px 1px #444;
}
.readout {
    overflow: auto;
}